@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/Styles.css"  />
@Html.Partial("_NavBars")


<div class="claim-container">
    <h2>Lecture Claim Submission Form</h2>

    <form class="claim-form" action="#" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Lecturer Name</label>
            <input type="text" id="name" name="lecturer_name" required>
        </div>

        <div class="form-group">
            <label for="id">Lecturer ID</label>
            <input type="text" id="id" name="lecturer_id" required>
        </div>
        <div class="form-group">
            <label for="id">Module Name</label>
            <input type="text" id="id" name="Module" required>
        </div>
        <div class="form-group">
            <label for="id">Claim Date</label>
            <input type="date" id="id" name="Date" required>
        </div>

        <div class="form-group">
            <label for="hours">Hours Worked</label>
            <input type="number" id="hours" name="hours_worked" required>
        </div>

        <div class="form-group">
            <label for="rate">Hourly Rate</label>
            <input type="number" id="rate" name="hourly_rate" required>
        </div>

        <div class="form-group">
            <label for="desc">Claim Description</label>
            <textarea id="desc" name="claim_description" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="file">Upload File</label>
            <input type="file" id="file" name="supporting_file" required>
        </div>

        <div class="form-group submit-btn">
            <button type="submit">Submit Claim</button>
        </div>
    </form>
</div>

<footer class="footer">
    <p>&copy; @DateTime.Now.Year Contract Monthly Claim System. All rights reserved.</p>
</footer>